# basic NAMESPACE that exports everything
# Ideally would be replaced by roxygen2

export(scale_y_log2nice)
export(scale_y_log10nice)

export(create_blank_plate)
export(label_plate_rowcol)
export(display_plate)
export(getNormCt)
export(normalizeqPCR)

export(debaseline)
export(getdRdT)
export(demelt)